* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    top: 60px;
    left: 0;
    position: fixed;
    padding-top: 20px;
    border-right: 1px solid #d2cfcf;
}

.sidebar_list li {
    border-radius: 10px;
}

.activeSidebarLink {
    background-color: #F2F2F2;
    font-weight: 700;
}

.sidebar_list li:hover {
    background-color: #F2F2F2;
}